@charset "utf-8";
/* CSS Document */

.container{width: 1200px; margin: 0 auto;}
.space{background-color: #000; height: 3px;}

/* 헤더*/
#haeder {background: url(image/mainimage.jpg) repeat-x top center;}
	
.header{height: 850px;}
.header .menu{display:flex; justify-content: space-between;}
.header .menu .logo{padding: 15px;}
.header .menu .nav {font-family: 'Nanum Gothic', sans-serif; font-weight: 700;}
.header .menu .nav a { color: #fff; padding: 35px 0px 6px 20px; display: inline-block; transition: color 0.3s ease; text-decoration: none;
		font-size: 18px;}
.header .menu .nav a:hover {color : #FF4245; font-weight: 800;}

.header .header_t{display: flex;  font-family: 'Nanum Gothic', sans-serif; justify-content: space-between;}
.header .header_tit{text-align: left; text-transform: uppercase; margin-top:170px; }
.header .header_tit h1{font-size:120px; color: #fff; letter-spacing: -2px; font-weight:900; opacity: 0.8;}
.header .d_link{text-align: center; text-transform: uppercase; margin-top:220px;}
.header .d_link .d_link_item{display:block; font-size: 40px; font-weight: 700; border: 6px solid white; padding: 10px 25px; margin: 50px 0 ; color:#fff;}
.header .d_link a{text-decoration: none;}
.header .d_link .d_link_item:hover{background-color: #fff; color:#000; font-weight: 800;}



/* 타이틀*/
.title{text-align: center;}
.title h2{font-family: 'Nanum Brush Script', cursive; font-size: 39px; padding: 5px 0px 5px 0px; color: #fff; background-color:#272727;
	font-weight: 400;}

/*about*/
.about {background-color: ; height: 550px;}
.about .container02 {width: 800px; margin: 0 auto;}
.about .container02 .about_logo{padding: 100px 0px 20px 0px;}
.about .container02 h2 {font-family: 'Nanum Gothic', sans-serif; padding: 10px 0 10px 0; font-weight: 700; text-align: center; font-size: 20px;}
.about .container02 .about_image {display: flex;}
.about .container02 .about_image .about_img_item{margin: 20px;}




/*contents*/
#contents{}
.container .cont_tit{text-align: center; padding-top: 100px;}
.container .cont_tit h2{font-family: 'Nanum Brush Script', cursive; font-size: 60px;}

.cont_subtit{text-align: center;padding: 50px 0 10px 0;}
.cont_subtit h3{font-family: 'Nanum Gothic', sans-serif; font-weight: 400; font-size: 22px; letter-spacing: -1px;}

.container .gallery{display: flex; margin-top: -3.3px;}
.container .gallery_item:hover{opacity: 0.6;}

.container03 {width: 1500px; margin: 0 auto;}
.container03 .cg {display: flex;}
.container03 .cg_item:hover{opacity: 0.6;}


/*footer*/
.footer_space{height: 100px;}

.footer{background-color:#212121; padding: 20px;}
.footer .container h2{font-family: 'Nanum Gothic', sans-serif; font-weight: 400; color:#E4E4E4; font-size: 11px; text-align: center;}


/* mediaquery */
	
	/* 0~1220px */
	@media (max-width: 1220px){
		.container {width: 100%;}
		.container02 {width: 100%;}
		.container03 {width: 100%;}
		.row {padding: 0 15px 0 10px;}
		.container .gallery_item img {width: 100%; box-sizing: border-box;}
		.container03 .cg_item img {width: 100%; box-sizing: border-box;}
		
	}

	/* 0~980px */
	@media (max-width: 980px){
		.header .header_tit h2 {font-size: 88px; text-align: center;}
		.header{height: 800px;}
		
	}

	/* 0~600px */
	@media (max-width: 600px){
		.row {padding: 0 0 0 0;}
		.header .header_tit h1{display:none;}
		.header .menu .logo{margin-left: 34%;}
		.header .menu{display:block;}
		.header .menu .nav{background-color: #737373; margin-top: -10px;}
		.header .menu .nav a{display: block; text-align: center; padding: 10px 0px 10px 0px; background:}
		.header .menu .nav a:hover {color : #FF4245; font-weight: 800; background-color: #252525}
		.title h2 {font-size: 25px;}
		
		.about .container h2 {font-size: 12px;}
		
		.container .gallery{display: block;}
		.container .gallery_item img {width: 100%; box-sizing: border-box;}
		.container03 .cg{display: block;}
		.container03 .cg_item img {width: 100%; box-sizing: border-box;}
		
}
